@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "poppins", sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/images/bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    background-color: black;
    opacity: 0.74;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    height: 62px;
    max-width: 60vw;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

nav img {
    position: relative;
    z-index: 10;
    width: 114px;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: calc(100% - 62px);
    font-family: "Martel Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    gap: 20px;
    padding: 0px 30px;
}

.hero> :nth-child(1) {
    font-family: "poppins", sans-serif;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-family: "poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.seperate {
    height: 7px;
    background-color: rgb(66, 63, 63);
}
.btn{
    padding: 3px 8px;
    background-color: rgba(255, 255, 255, 0.342);
    font-weight: 400;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid rgba(236, 225, 225, 0.5);
}
.btn-red-sm{
    background-color: red;
    color: white;
}
.btn-red{
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400; 
}
.hero-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.main input{
    padding: 7px 101px 8px 4px;
    font-size:12px;
    font-weight: 900;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(236, 225, 225, 0.5);
    color: white;   
}